## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

## FD
/screenshots
/fastlane/screenshots
/fastlane-OLD/screenshots
/fastlane/api_key.json
/fastlane/AuthKey_*.p8
*.ipa
*.app.dSYM.zip

## Documentation and demo files
*.md
!README.md
*.png
*.jpg
*.jpeg
*.gif